.galery {
  display: inline; 
}

.galery img {
  width: 33%;
  margin: 1px;
  cursor: pointer;
  
}

@media screen and (max-width: 900px) {
  .galery img {
    width: 49%;
    margin: 1px;
  }
}
@media screen and (max-width: 600px) {
  .galery img {
    width: 100%;
    margin-top: 1px;
  }
}
